<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @video.image.url(:medium) %>
</p>

  <% if @reviews.blank? %> 
    <%= link_to "Write the first review!", new_video_review_path(@video), class: "btn btn-primary" %>
  <% else %> 
    <% @reviews.each do |r| %> 
      <div class="reviews">
        <div class="star-rating" data-score= <%= r.rating %> ></div>
        <p><%= r.comment %></p>
      </div>
    <% end %>
  <% end %> 


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
