<p id="notice"><%= notice %></p>


  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td><strong>Title:</strong></td>
          <td><a href= <%= @video.link %> ><%= @video.name%></a></td>
        </tr>
        <tr>
          <td><strong>Image:</strong></td>
          <td><%= image_tag @video.image.url(:medium) %></td>
        </tr>    
      </tbody>
    </table>
  </div>

  <% if @reviews.blank? %> 
    <%= link_to "Write the first review!", new_video_review_path(@video), class: "btn btn-primary" %>
  <% else %> 
    <% @reviews.each do |r| %> 
      <div class="reviews">
        <div class="star-rating" data-score= <%= r.rating %> ></div>
        <p><%= r.comment %></p>
      </div>
    <% end %>
  <% end %> 


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
